# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Extract Go version from go.mod
        id: extract-go-version
        run: echo "::set-output name=go-version::$(grep -m1 '^go ' go.mod | awk '{print $2}')"

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "${{ steps.extract-go-version.outputs.go-version }}"

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
